/***********FULL RESET***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/***********END OF FULL RESET***********/


/* GENERIC FORMATS */
html {
    background-color:black;
}

html, body {
    height: 100%;
    min-height:100%;
    font-family:"Courier New", Courier, monospace;
    background-color: #2A2A2A;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_content {
    text-align:center;
}
/*END OF GENERIC FORMATS */

div#wrapper_page {
    height:inherit;
    margin:auto;
    /* on initial load */
    /* background-color:black; */
}

/* Initial content */
div#about {
    display:block;
}

div#wrapper_bandphoto {
    display:block;
    max-width:50%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #BD4E3A;*/
    background-color: #1E1E1E;
    border-radius: 10px;
}

div#wrapper_content {
    color: #ECDCB9;
    margin-top:3vh;
    margin-bottom:3%;
}

div.wrapper_video {
    position: relative;
    width: 100%;
    max-width:inherit;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.content {
    display:none;
}

div#content {
    max-width:630px;
    margin:auto;
}

header {
    font-size:14pt;
    background-color:black;
    text-underline-offset: 5px;
    width:100%;
    z-index:1;
}

header#menu {
    position:fixed;
    top:0;
}

.hidden_content {
    visibility:hidden;
}

img#new_release {
    width:45%;
    max-width:250px;
    border-radius: 3px;
}

img#band_photo {
    border-radius: 10px;
    margin-bottom:-5px;
    width:100%;
}

small#photo_credit {
    font-size:8pt;
    color: #999999;
    /*color:#FFECCA;*/
    /*color: #232323;*/
    /*font-weight:bold;*/
    padding-left:3%;
}

h1 {
    color:#b8add9;
    font-size:12pt;
    margin-bottom:1%;
}

h2 {
    color:#b8add9;
    color:#999999;
    font-size:10pt;
    margin-bottom:3%;
}

h3 {
    font-size:10pt;
    margin-top:1%;
}

p#p_projects {
    font-size:11pt;
    color:#999999;
    font-family:Garamond;
    line-height:1.6;
    margin-bottom:5%;
    padding-left:2%;
    padding-right:2%;
}

/*
li.item_ppl_bands:before {
    content: "-";
    display: block;
    float: left;
    width: 1.3em;
}
 */

li.item_ppl_bands {
    margin-left:4%;
    color:#999999;
}

p.description {
    /*color: #d4c5a5;*/
    color: #999999;
    font-size:11pt;
    line-height:1.6;
    font-family:Garamond;
    margin-top:3%;
    margin-bottom:1%;
    padding-left:2%;
    padding-right:2%;
}

i {
    font-style:italic;
}

span.menu_grouping {
    display:inline-block;
}

span.between_content {
    display:block;
    text-align:center;
    margin-top:10%;
    margin-bottom:10%;
    color:black;
}

img.album_art {
    max-width:170px;
    vertical-align:middle;
}

table#discog_table {
    margin:auto;
}

td {
    vertical-align:middle;
}

td.show_date {
    vertical-align:top;
    padding-top:5%;
}

td.show_info {
    padding-top:5%;
    padding-left:3%;
}

tr.show_entry {
    margin-top:10px;
}

td.album_info {
    font-size:10pt;
    color:#999999;
    //background-color:red;
}

span.album_info {
    display:block;
    padding-top:2%;
    padding-left:4%;
}

em.contact_footer {
    font-size: 16pt;
    color:hotpink;
    font-weight:bold;
}

em#about_pascal {
    /*color: #ECDCB9;*/
    color: #b8add9;
    /*color: #b0a7c9;*/
    /*color: #BD4E3A;*/
    /*color: #FF6025;*/
    font-size: 24pt;
    font-family: "Courier New", Courier, monospace;
}

em#date_available {
    color: #d4c5a5;
    font-size:11pt;
    font-family:Garamond;
    margin-top:3%;
    margin-bottom:1%;
    padding-left:2%;
    padding-right:2%;
    display:block;
}

em.external_link {
    font-weight:normal;
    color: #FF6025;
}

footer#footer_block {
    position:fixed;
    z-index:2;
}

footer.contact_footer {
    font-size:10pt;
    background-color:black;
    width:100%;
    color: #BCA9F5;
    bottom: 0;
    padding-top:2vh;
    padding-bottom:2vh;
}

a.menu_item {
    display:inline-block;
    color: #00C4C3;
    /*min-width:105px;*/
    width:25vw;
    max-width:105px;
    font-weight: bold;
    padding:20px 0 20px /* top horizontal bottom */
}

/* MENU NAV LINKS */
a.menu_item:link {
    text-decoration:none;
    color: #BCA9F5;
}

a#navlink_about:link {
    text-decoration: underline overline;
}

a.menu_item:visited {
    color: #BCA9F5;
}

@media (hover: hover) {
    a.menu_item:hover {
        color: hotpink;
        /*background-color: #BD4E3A;*/
        /*background-color: #2A2A2A;*/
    }
}

a.menu_item:active {
    color: hotpink;
}

img.stream_link {
    height:30px;
    padding-left:3px;
}

/* PARAGRAPH LINKS */
a.paragraph_link {
    display:inline-block;
}

a.paragraph_link:link {
    text-decoration:underline;
    text-underline-offset:0.3em;
    /*color: #b8add9;*/
    color: #b0a7c9;
}

a.paragraph_link:visited {
    /*color: #b8add9*/
    color: #b0a7c9;
}

@media (hover: hover) {
    a.paragraph_link:hover {
        color: hotpink;
        text-decoration:none;
    }
}

a.paragraph_link:active {
    color: hotpink;
    text-decoration:none;
}

/* ALBUM LINKS */
a.album_link {
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

a.album_link:link {
    /*color: #b8add9;*/
    text-decoration: none;
    border-top: 1px solid #b0a7c9;
    border-bottom: 1px solid #b0a7c9;
    color: #b0a7c9;
}

a.album_link:visited {
    /*color: #b8add9*/
    text-decoration: none;
    color: #b0a7c9;
}

@media (hover: hover) {
    a.album_link:hover {
        text-decoration: none;
        border-top-color: #b0a7c9;
        border-bottom-color: #b0a7c9;
        color: hotpink;
    }
}

a.album_link:active {
    text-decoration: none;
    border-top-color: #b0a7c9;
    border-bottom-color: #b0a7c9;
    color: hotpink;
}

/* STREAM LINKS */
a.stream_link {
    display:block;
    border-style:solid;
    border-width:1px;
    border-color:#999999;
    border-radius:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:8px;
    padding-right:8px;
    background-color: #1E1E1E;
    max-height:30px;
    max-width:250px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    margin-bottom:2%;
}

a.stream_link:link {
    background-color: #1E1E1E;
}

a.stream_link:visited {
    background-color: #1E1E1E;
}

a.stream_link:hover {
    background-color: #BD4E3A;
}

a.stream_link:active {
    background-color: #BD4E3A;
}
